{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <title>Posts</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
  <div class="container-fluid">
  <div class="row">
  <div class="col-md-2">
  {% block sidebar %}
  <ul class="sidebar-nav">
    <li><a href="{% url 'posts:post-home' %}">Home</a></li>
    {% if user.is_authenticated  %}
    <li><a href="{% url 'posts:post-create' %}">Create</a></li>
    <li><a href="{% url 'profiles:profile-detail' username=user.username %}">Dashboard</a></li>
    <li><a href="{% url 'posts:post-complete' %}">Complete</a></li>
    {% endif %}
    
  </ul>
  {% endblock %}
  </div>
  </div>
  <div class="col-md-12">     
    <main role="main" class="container">
    {% block content %}{% endblock %}
    </main>
  </div>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  </body>
</html>