{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <title>Posts</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Itim" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
  <header>
  <nav class="navbar fixed-top navbar-expand-md navbar-light bg-faded navbar-right navbar-custom">
    <a class="navbar-brand" href="#">Dashboard</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>        
      </ul>
<!--       <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>
  </header>

  <div class="container-fluid">
  <div class="row">
  <div class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
  {% block sidebar %}
  <!-- <ul class="sidebar-nav"> -->
  <ul class="nav nav-pills flex-column sidebar-nav">
    <li class="nav-item"><a href="{% url 'posts:post-home' %}">Home</a></li>
    {% if user.is_authenticated  %}
    <li class="nav-item"><a href="{% url 'posts:post-create' %}">Create</a></li>
    <li class="nav-item"><a href="{% url 'profiles:profile-detail' username=user.username %}">Dashboard</a></li>
    <li class="nav-item"><a href="{% url 'posts:post-complete' %}">Complete</a></li>
    {% endif %}
    
  </ul>
  {% endblock %}
  </div>
  </div>
  <div class="col-md-12">     
    <main role="main" class="container">
    {% block content %}{% endblock %}
    </main>
  </div>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  </body>
</html>