{% extends 'base.html' %}
{% block content %}

{% if qs %}
<div class="row category-custom">
  <h3>Search Results...</h3>
</div>
  <div class="row post-custom">
    {% for q in qs %}
    <div class="card col-md-2">
        {% if q.image %}
        <img class="card-img-top" src="{{ q.image.url }}">
        {% else %}
        <img class="card-img-top">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title"><a href="{{ q.get_absolute_url }}">{{ q }}</a></h4>
        </div>
    </div>
    {% endfor %}

{% else %}
{% for category in categories %}

<div class="row category-custom">
  <h3>{{ category }}</h3><br>
</div>

  {% if category.name == 'Travel' %}
  <div class="row post-custom">
    {% for travel in travels %}
    <div class="card col-md-2">
        {% if travel.image %}
        <img class="card-img-top" src="{{ travel.image.url }}">
        {% else %}
        <img class="card-img-top">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title"><a href="{{ travel.get_absolute_url }}">{{ travel }}</a></h4>
        </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  {% if category.name == 'Adventure' %}
  <div class="row post-custom">
    {% for adventure in adventures %}
    <div class="card col-md-2">
        {% if adventure.image %}
        <img class="card-img-top" src="{{ adventure.image.url }}">
        {% else %}
        <img class="card-img-top">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ adventure }}</h4>
        </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  {% if category.name == 'Learn New Things' %}
  <div class="row post-custom">
    {% for lnt in lnts %}
    <div class="card col-md-2">
    {% if lnt.image %}
        <img class="card-img-top" src="{{ lnt.image.url }}">
        {% else %}
        <img class="card-img-top">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ lnt }}</h4>
        </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}

{% endfor %}


{% endif %}

{% endblock %}

