{% extends 'base.html' %}
{% block content %}


{% if post_list %}
<ul>
{% for post in post_list %}
  <li>
    <a href="{{ post.get_absolute_url }}"><h5>{{ post.title }}</h5></a>
    Posted: {{ post.date_created }}<br>
    <!-- <small>{{ post.category_is_blank }}</small><br> -->
    Completed: <strong>{{ post.date_completed }}</strong><br>
    {% if user.is_authenticated %}
    <a href="{% url 'posts:post-delete' post.pk %}">Delete</a>
    {% endif %}
  </li><hr>
{% endfor %}
</ul>
{% else %}
<p>No bucketlist fulfilled yet!</p>

{% endif %}

{% endblock %}