{% extends 'base.html' %}
{% block content %}


<ul>
<li>{{ user.get_full_name }}</li>
{% for user_info in user_profile %}
  <li>Date Joined: {{ user_info.date_joined|date:"F d, Y" }}</li>
  <li>Active Goals: {{ bucket_ongoing.count }} </li>
  <li>Complete: {{ bucket_complete.count }}</li>
{% endfor %}
</ul>
<hr>


<ul>
<h4>Active Goals</h4>
{% for bucket in bucket_ongoing %}

<li>{{ bucket }} - <a href="{% url 'profiles:post-update' username=user.username pk=bucket.pk %}">Update</a>
 - <a href="{% url 'profiles:post-complete' username=user.username pk=bucket.pk %}">Complete</a>
 - <a href="{% url 'profiles:post-delete' username=user.username pk=bucket.pk %}">Delete</a>
</li>

{% endfor %}

</ul>

<hr>

<ul>
<h4>Completed Goals</h4>
{% for bucket in bucket_complete %}

<li>{{ bucket }} - Completed on {{ bucket.date_completed|date:"F d, Y" }}
 - <a href="{% url 'profiles:post-complete' username=user.username pk=bucket.pk %}">Complete</a>
</li>

{% endfor %}

</ul>

{% endblock %}