body {
	font-family: 'Roboto', sans-serif;
	padding-top: 6rem;
	color: #484848;
}

p {
	font-style: 1.2rem;
	font-weight: 100;
}

li {
	list-style: none;
}

h3 {
	font-weight: 800;
	color: #484848;
	font-size: 1.6rem;
	margin-left: 3rem;
	margin-right: 0.2rem;
}

h4 {
	font-weight: 600;
	color: #fd5c63;
	font-size: 1.2rem;
	margin-top: 0.3rem;
}

h5 {
	font-weight: 600;
	color: #484848;
	font-style: 1.4rem;
	margin-top: 1rem;
	margin-left: 0.3rem;
}

a {
	color: #484848;
}

a:hover {
	color: #333232;
}

/* TOP NAVIGATION BAR */
.navbar-custom {
	border-bottom: 2px solid #eee;

}

/* TOP NAVIGATION MAIN*/
#main-nav {
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-bottom: 2px solid #eee;
	padding-right: 5rem;
	padding-left: 5rem;
	z-index: 1000;
	background-color: #f3f4f7;
	font-weight: 600;
}

@media (min-width: 1200px) {
	.container {
		max-width: 88%;
		margin-left: auto;
		margin-right: auto;
	}
}

#main-nav .navbar-brand {
	color: #fd5c63;
	padding-right: 2rem;
	font-size: 1.5rem;
}

.post-custom{
    display: flex;
/*    justify-content: center;*/
    align-items: left;
    margin-left: 2.2rem;
}

.category-custom {
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
}

/* CARD */
.card {
	max-width: 240px;
	height: 240px;
	padding-left: 0rem;
	padding-right: 0rem;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
}

.card-body {
	padding: 0rem;
}

.card-img-top {
	width: 100%;
	height:  8vw;
	object-fit: cover;
}

.detail-container {
	margin-left: 25rem;
	margin-right: 25rem;
}

.img-fluid {
	/*max-width: 80%;*/
	margin-top: 2rem;
	margin-bottom: 2rem;
	width: 100%;
}
