body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.4em;
	padding-top: 60px;

}

/* SIDEBAR */
.sidebar {
	position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 10px 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
}

/* SIDEBAR NAVIGATION LINK */
.sidebar-nav {
	display: block;
    padding: .5rem 3rem;

}

/* TOP NAVIGATION BAR */
.navbar-custom {
	border-bottom: 2px solid #eee;

}

.container-custom {
    width: 100%;
    margin-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}